body {
  background-color: #fff0f3;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.calendar-mini {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 70px;
  height: 80px;
  background: white;
  border-radius: 8px;
  border: 3px solid #ff4d6d;
  transform: rotate(10deg);
  box-shadow: 4px 4px 0px #ffccd5;
  text-align: center;
}

.cal-top {
  background: #ff4d6d;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.cal-body {
  font-size: 28px;
  font-weight: 800;
  color: #ff4d6d;
  line-height: 50px;
}

.xoxo-decor {
  position: absolute;
  font-family: "Dancing Script", cursive;
  font-size: 28px;
  color: #ff4d6d;
  opacity: 0.4;
}

.x-home { bottom: 10%; right: 10%; }
.x-story { top: 5%; right: 5%; }

.card {
  background: white;
  padding: 35px;
  border-radius: 30px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.wide-card { max-width: 550px; }

.premium-border {
  border: 2px solid #ffccd5;
  position: relative;
}

.corner-ribbon {
  position: absolute;
  top: 18px;
  right: -30px;
  background: #ff4d6d;
  color: white;
  padding: 6px 40px;
  transform: rotate(45deg);
  font-size: 12px;
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

button {
  padding: 15px 35px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

#yes-btn {
  background: #ff4d6d;
  color: white;
  border: none;
}

#no-btn {
  background: white;
  border: 2px solid #ff4d6d;
  color: #ff4d6d;
  position: relative;
}

.gif-sm { width: 150px; }

.date-list { list-style: none; padding: 0; }
.pill {
  background: #fff5f7;
  margin: 10px 0;
  padding: 15px;
  border-radius: 15px;
}

.footer-centered {
  text-align: center;
  color: #ff4d6d;
  font-weight: bold;
  margin: 40px 0;
}

/* Envelope */

.envelope-wrapper {
  width: 280px;
  height: 180px;
  margin: 30px auto;
  cursor: pointer;
  perspective: 1000px;
}

.envelope {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ff4d6d;
  border-radius: 0 0 15px 15px;
}

.flap {
  position: absolute;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-top: 100px solid #ff758f;
  transform-origin: top;
  transition: 0.5s;
}

.envelope.open .flap {
  transform: rotateX(180deg);
}

.body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff4d6d;
}

.letter {
  position: absolute;
  bottom: 5px;
  left: 15px;
  width: 250px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  transition: 0.7s;
}

.envelope.open .letter {
  transform: translateY(-130px);
}
